
<div class="container mt-5">
    <div class="container text-center mt-4"><h1>danh sách các phòng khách sạn</h1></div>
    <table class="table table-striped text-center">
    <thead>
    <tr>
        <th scope="col">STT</th>
        <th scope="col">Tên phòng</th>
        <th scope="col">Diện tích</th>
        <th scope="col">Ảnh</th>
        <th scope="col">Các tiện ích</th>
        <th scope="col">Giá</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {{#each Rooms}}
    <tr style="align-items:center">
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.typeRoom}}</td>
        <td>{{this.areaRoom}} m<sup>2</sup></td>
        <td><img src="https://hanoihotel.herokuapp.com/imgs/{{this.image}}" alt="" style=" width: 150px"></td>
        <td>{{this.extension}}</td>
        <td>{{this.price}}</td>
        <td>
            <button class="btn btn-primary"><a href="/admin/cap-nhat-phong/{{this.slug}}/cap-nhat">Sửa</a></button>
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#room-delete" data-bs-whatever="{{this._id}}">{{!-- <a href="/admin/cap-nhat-phong/{{this.slug}}/xoa">Xóa</a> --}}Xóa</button>
        </td>
    </tr>
    
    {{/each}}
    </div>
    </div>
    </tbody>
    </table>
    
        <div class="modal fade" id="room-delete" name="slug" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Xác thực xóa phòng</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            Bạn chắc chắn muốn xóa phòng này ??
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
            <button type="submit" id="btn-submit-room" class="btn btn-danger" >Đồng ý</button>
            </div>
        </div>
        </div>
        </div>
        <form method="POST" id="delete-form"></form>
    
</div>
<script>
    var DeleteModal = document.getElementById('room-delete')
    var roomId;
    var deleteForm = document.getElementById('delete-form')
    var btnSubmitRoom = document.getElementById('btn-submit-room');

    DeleteModal.addEventListener('show.bs.modal', function (event) {
        var button = event.relatedTarget
        roomId = button.getAttribute('data-bs-whatever')
    })
    
    btnSubmitRoom.onclick = function () {
        deleteForm.action= '/admin/cap-nhat-phong/'+roomId+'/xoa'
        deleteForm.submit()
    }

    
</script>
