<div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-top:100px">
    <h3>phòng quý khách đã đặt: {{orders.roomName}}</h3>
    <p>
        <b>thời gian nhận phòng</b>: {{orders.dateIn}}</br>
        <b>thời gian trả phòng</b>: {{orders.dateOut}}</br>
        <b>số người</b>: {{orders.member}}</br>
        <b>tổng tiền</b>: {{orders.sumPrice}}.</br>
        <i>Vui lòng khi đến quý khách mang theo thẻ tín dụng hoặc tiền mặt để thanh toán hóa đơn tại quầy</i>

    </p>
</div>