<div class="container-fluid">
    <img src="https://www.w3schools.com/w3images/hotel.jpg" class="img-header" alt="" width="100%">
</div>
<div class="container">
    <div class="row form-search mt-3">
        <form class="row gy-2 gx-3 align-items-center">
        <div class="col col-sm-12 col-lg-3 col-12">
            <label class="visually-hidden" for="autoSizingInput">Bạn muốn đến đâu</label>
            <input type="text" class="form-control" id="autoSizingInput" placeholder="Bạn muốn đến đâu ?">
        </div>
        <div class="col col-sm-12 col-lg-6 col-12">
            <label class="visually-hidden" for="autoSizingInputGroup">thời gian</label>
            <div class="input-group">
            <div class="input-group-text">Nhận phòng</div>
            <input type="datetime-local" class="form-control" id="autoSizingInputGroup" placeholder="Username">
            <div class="input-group-text">Trả phòng</div>
            <input type="datetime-local" class="form-control" id="autoSizingInputGroup" placeholder="Username">
            </div>
        </div>
        <div class="col col-sm-12 col-lg-2 col-12">
            <label class="visually-hidden" for="autoSizingSelect">Preference</label>
            <select class="form-select" id="autoSizingSelect">
            <option selected>2 người lớn</option>
            <option value="1">1 người lớn</option>
            <option value="2">2 người lớn - 1 trẻ em</option>
            <option value="3">Hộ gia đình</option>
            <option value="4">Khác</option>
            </select>
        </div>
        <div class="col col-sm-12 col-lg-1 col-12 ">
            <button type="submit" class="btn btn-primary">Tìm kiếm</button>
        </div>
        </form>
    </div>

    <div class="pt-3 pb-2 mt-3"  id="rooms">
        <h2 class="pb-2">Các phòng còn trống</h2>
        <p>"Làm cho bạn như ở nhà" là khẩu hiệu của chúng tôi. Chúng tôi cung cấp những trang thiết bị tót nhất đem lại trải nghiệm tốt nhất.</p>
    </div>
    <div class="row mb-4">
        {{#each Rooms as |room|}}
            <div class="col col-sm-12 col-12 col-lg-4 mt-4 mb-4">
            
            <div class="card" style="width: 100%">
            <img src="http://localhost:3000/imgs/{{room.image}}" class="card-img-top" alt="...">
            <div class="card-body">
                <div class="row">
                    <div class="col col-10">
                        <h4 class="card-title" >{{room.typeRoom}}</h4>
                        <p class="card-title">VND {{room.price}}</p>
                    </div>
                    <div class="col col-2">
                        <p>{{room.areaRoom}} m<sup>2</sup></p>
                    </div>
                </div>
                <a href="/rooms/{{room.slug}}" class="btn btn-primary">Xem chi tiết</a>
                
                <a href="/login?cartId={{../accountUser._id}}&name={{room.typeRoom}}&image={{room.image}}&price={{room.price}}" class="btn btn-danger btn-datphong" >Đặt ngay</a>
               
            </div>
            </div>
        
        </div>
        {{/each}}
        {{!-- <form method="POST" id="submit-cart" ></form> --}}
    </div>
    <div class="row mb-4" id="about">
        <div class="col col-lg-6 col-sm-12 col-12">
            <h4>Thông tin về khách sạn chúng tôi</h4>
            <p> Khách sạn phong cách kiến trúc Art Deco dịch vụ tư vấn/hỗ trợ khách và cửa hàng quà tặng 
                hoặc quầy thông tin. Khách có thể dễ dàng đến với những khu mua sắm trong khu vực với dịch vụ đưa đón (phụ phí).Khách 
                có thể thưởng thức nhiều món ăn ngon tại nhà hàng hoặc dùng bữa nhẹ ở quán cà phê của khách sạn. Hòa mình cùng đám đông tại tiệc 
                chiêu đãi miễn phí được tổ chức hàng ngày.Có 
                nhiều dịch vụ, tiện ích dành cho khách, bao gồm truy cập Internet tốc độ cao (có dây) miễn phí. Miễn phí truy cập 
                internet có dây lẫn không dây; trong khi đó, các phòng cũng được trang bị TV LCD 32-inch với các chương trình truyền hình vệ tinh cho khách giải trí. Phòng tắm riêng có bồn tắm
                 và vòi sen phun mưa. bên cạnh đó dịch vụ dọn phòng cũng phục vụ hàng ngày</p> 
            <p>Chúng tôi chấp nhận thanh toán các thẻ: <i class="fab fa-cc-visa" style="font-size: 20px; margin-right: 8px"></i><i class="fab fa-cc-paypal" style="font-size: 20px; margin-right: 8px"></i><i class="fab fa-cc-mastercard" style="font-size: 20px; margin-right: 8px"></i></p>
        </div>
        <div class="col col-sm-12 col-lg-6 col-12">
            <img src="http://localhost:3000/imgs/daf6991e23b7af2ff54430f358468462.jpg" alt="" width="100%" style="border-radius: 8px; box-shadow:  0px 4px 8px 0px rgba(0, 0, 0, 0.2);">
        </div>
    </div>
    <div class="about-contact">
                <div class="contacr-items"><i class="fas fa-map-marker-alt"></i> 123 abc, Hà Nội, Việt Nam</div>
                <div class="contacr-items"><i class="fas fa-phone-alt"></i> Phone: +84 15151515</div>
                <div class="contacr-items"><i class="fas fa-envelope"></i> Email: mail@mail.com</div>
    </div>


    <div class="section-note">
        <div class="note-icon"><i class="fas fa-info"></i></div>
        <div class="note-content"> Theo yêu cầu, chúng tôi có thể cung cấp playstation, babycall, dịch vụ chăm sóc trẻ em, thiết bị cho chó, v.v.</div>
    </div>
        {{!-- <div class="section-place">
            <div class="commit-head">Hệ thống khách sạn của chúng tôi</div>
            <div class="commit-slogan">Bạn có thể sử dụng khách sạn của chúng tôi ở các thành phố lớn</div>
            <div class="place-img">
                <div class="img-CinqueTerre">
                    <img src="./imgs/cinqueterre.jpg" alt="">
                </div>
                <div class="img-four">
                        <div class="img-newyork">
                            <img src="./imgs/newyork2.jpg" alt="">
                        </div>
                        <div class="img-San">
                            <img src="./imgs/sanfran.jpg" alt="">
                        </div>
                        <div class="img-pisa">
                            <img src="./imgs/pisa.jpg" alt="">
                        </div>
                        <div class="img-paris">
                            <img src="./imgs/paris.jpg" alt="">
                        </div>
                </div>
            </div> 
            <div class="subcribe">
                <div class="subcribe-head">
                    Đăng kí để nhận những ưu đãi tốt nhất
                </div>
                <div class="subcribe-decript">
                    Tham gia vào bản tin của chúng tôi
                </div>
                <div class="subcribe-email">
                    <label for="sub-email">Email</label>
                    <input type="text" name="sub-email" placeholder="Your Email address">
                </div>
                <div class="subcribe-btn">
                    <button>Đăng kí</button>
                </div>
            </div>
        </div> --}}
        <!-- contact -->
    <div class="section-contact" id="contact">
        <div class="contact-head">
            Liên hệ
        </div>
        <div class="contact-decript">
            Nếu bạn có bất kì câu hỏi nào, đừng ngần ngại chúng tôi sẽ giúp bạn giải đáp!
        </div>
        <div class="contact-items"><i class="fas fa-map-marker-alt"></i> 123 abc, Hà Nội, Việt Nam</div>
        <div class="contact-items"><i class="fas fa-phone-alt"></i> Phone: +84 15151515</div>
        <div class="contact-items"><i class="fas fa-envelope"></i> Email: mail@mail.com</div>
        <input type="text" class="user-contact" placeholder="Name">
        <input type="text" class="user-contact" placeholder="Email">
        <input type="text" class="user-contact" placeholder="Message">
        <button class="sendmess">Gửi</button>
    </div>
    <div class="row">
        <div class="col col-lg-12 col-sm-12  col-12 h4 mb-4 mt-4 text-center">Những lý do để chọn Hanoi Central Hotel</div>
        <div class="col col-lg-3 col-sm-6 col-12 h6 mt-2 mb-5 text-center reason"><i class="fas fa-wallet"></i>Giá Không thể tốt hơn</div>
        <div class="col col-lg-3 col-sm-6 col-12 h6 mt-2 mb-5 text-center reason"><i class="fas fa-shield-alt"></i>Đặt phòng an toàn</div>
        <div class="col col-lg-3 col-sm-6 col-12 h6 mt-2 mb-5 text-center reason"><i class="fas fa-cogs"></i>Quản lý phòng trực tuyến</div>
        <div class="col col-lg-3 col-sm-6 col-12 h6 mt-2 mb-5 text-center reason"><i class="fas fa-comment-dots"></i>Nhân viên phục vụ tận tình</div>
    </div>

</div>
<script>
    var submitCart = document.getElementById('submit-cart');
    var btnDatphong = document.getElementById('btn-datphong');
    
    btnDatphong.onclick = function () {
        submitCart.action= '/datphong/' + accountUser._id;
        submitCart.submit()
        var data = btnDatphong.getAttribute('data')
        console.log(data)
    } 
    
</script>

